
a{
    color: #11999E;
}
body{
    /* font-size: 2em; */
    font-family: 'Merriweather',serif;
    color: #40514E;
    margin: 0;
    text-align: center;
    
}
.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999A);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999A);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999A);
    background-image: -o-linear-gradient(top, #11CDD4, #11999A);
    background-image: linear-gradient(to bottom, #11CDD4, #11999A);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    text-decoration: none;
  }
.bottom-container{
    background-color:#66BFBF;
    padding: 50PX 0 20PX;
}
.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px; 
}
.code-img{
    width: 25%;
    float: left;
    padding-right: 40px;
    border-radius: 50%;
}
.chillie{
    width: 25%;
    float: right;
    margin-left: 40px; 
    border-radius: 50%;


}
.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}
.contact-me{
    margin: 100 0;
}
.copyright{
    color: #EAF6F6;
    padding: 20px 0;
    font-size: 0.75rem;
}
.footer-link{
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    text-decoration: none;
}
.footer-link:hover{
    color:#EAF6F6 ;
}
hr{
    border-style: none;
    border-top:10px dotted;
    /* border-radius: 10px; */
    border-color: #EAF6F6;
    width: 5%;
}
h1{
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    /* line-height: 2  ; */
    margin: 50px auto 0 auto;
    
}
h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom:10px ;
}
h3{
    
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
.intro{
    width: 30%;
    margin: auto;
}
.image{
    width: 15%;
 
}
.middle-container{
   margin: 100px 0;
   /* text-align: center;  */
} 
p{
    line-height: 2;
}
.skill-row{
    /* text-decoration: none; */
    width: 50%;
    margin: 100px auto;
    text-align: left ;
    /* line-height: 2; */
}
.top-container{
    background-color:#E4F9F5;
    margin: 0px;
    position: relative;
    padding-top: 100px;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}
/* .profile{
    margin-top: 100px;
}  */
span{
    text-decoration: underline;
}
